MitchellClaimClient/MitchellClaimClient/MitchellClaimClient/Service References/MitchellService/MitchellService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://abhiram/MitchellService/MitchellService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MitchellClaimService.DataContracts" />
  <xs:import schemaLocation="http://abhiram/MitchellService/MitchellService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="CreateClaim">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="createxml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateClaimResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClaim">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClaimNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClaimResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MitchellClaimService.DataContracts" minOccurs="0" name="GetClaimResult" nillable="true" type="q1:MitchellClaim" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClaimByDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FromDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="ToDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClaimByDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetClaimByDateResult" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehicleDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClaimNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehicleDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MitchellClaimService.DataContracts" minOccurs="0" name="GetVehicleDetailsResult" nillable="true" type="q3:VehicleDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClaim">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updatexml" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClaimResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteClaim">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClaimNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteClaimResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>